In [1]:
#importing libraries 
import pandas as pd 
import numpy as np
import warnings 
warnings.filterwarnings("ignore")

# Load the data

In [2]:
train = pd.read_csv("C:/Users/CANARA/Downloads/train_qnU1GcL.csv")
test=pd.read_csv("C:/Users/CANARA/Downloads/test_LxCaReE_DvdCKVT_iU3TGkw.csv")

In [3]:
#Shape
train.shape,test.shape

((79853, 12), (34224, 11))

There are 12 columns in train dataset, whereas 11 in the test dataset. The missing column in the test dataset is the target variable and we will train our model to predict that variable

In [4]:
#printing first five rows
train.head()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,target
0,110936,0.429,12058,355060,0.0,0.0,0.0,99.02,13,C,Urban,1
1,41492,0.010,21546,315150,0.0,0.0,0.0,99.89,21,A,Urban,1
2,31300,0.917,17531,84140,2.0,3.0,1.0,98.69,7,C,Rural,0
3,19415,0.049,15341,250510,0.0,0.0,0.0,99.57,9,A,Urban,1
4,99379,0.052,31400,198680,0.0,0.0,0.0,99.87,12,B,Urban,1

In [5]:
train.describe()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,target
count,79853.000000,79853.000000,79853.000000,7.985300e+04,79756.000000,79756.000000,79756.000000,76879.000000,79853.000000,79853.000000
mean,57167.166368,0.314288,18846.696906,2.088472e+05,0.248671,0.078188,0.060008,99.067291,10.863887,0.937410
std,32928.970160,0.334915,5208.719136,4.965826e+05,0.691468,0.436507,0.312023,0.739799,5.170687,0.242226
min,2.000000,0.000000,7670.000000,2.403000e+04,0.000000,0.000000,0.000000,91.900000,2.000000,0.000000
25%,28640.000000,0.034000,14974.000000,1.080100e+05,0.000000,0.000000,0.000000,98.810000,7.000000,1.000000
50%,57262.000000,0.167000,18625.000000,1.665600e+05,0.000000,0.000000,0.000000,99.210000,10.000000,1.000000
75%,85632.000000,0.538000,22636.000000,2.520900e+05,0.000000,0.000000,0.000000,99.540000,14.000000,1.000000
max,114076.000000,1.000000,37602.000000,9.026260e+07,13.000000,17.000000,11.000000,99.890000,60.000000,1.000000

In [6]:
test.head()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type
0,649,0.001,27384,51150,0.0,0.0,0.0,99.89,7,A,Rural
1,81136,0.124,23735,285140,0.0,0.0,0.0,98.93,19,A,Urban
2,70762,1.000,17170,186030,0.0,0.0,0.0,NaN,2,B,Urban
3,53935,0.198,16068,123540,0.0,0.0,0.0,99.00,11,B,Rural
4,15476,0.041,10591,200020,1.0,0.0,0.0,99.17,14,A,Rural

In [7]:
test.describe()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid
count,34224.000000,34224.000000,34224.000000,3.422400e+04,34193.000000,34193.000000,34193.000000,32901.000000,34224.000000
mean,56739.956376,0.314457,18824.215346,2.028201e+05,0.238733,0.080718,0.058111,99.061898,10.890428
std,32935.402647,0.334059,5246.525604,2.702536e+05,0.686162,0.454634,0.307046,0.742942,5.216867
min,1.000000,0.000000,7671.000000,2.403000e+04,0.000000,0.000000,0.000000,91.900000,2.000000
25%,28254.750000,0.034000,14972.000000,1.063975e+05,0.000000,0.000000,0.000000,98.800000,7.000000
50%,56488.000000,0.169000,18623.000000,1.650700e+05,0.000000,0.000000,0.000000,99.210000,10.000000
75%,85386.250000,0.540000,22636.000000,2.500200e+05,0.000000,0.000000,0.000000,99.530000,14.000000
max,114077.000000,1.000000,35785.000000,2.191455e+07,12.000000,10.000000,7.000000,99.890000,59.000000

# Preprocessing the data

In [8]:
train.isnull().sum()

id                                     0
perc_premium_paid_by_cash_credit       0
age_in_days                            0
Income                                 0
Count_3-6_months_late                 97
Count_6-12_months_late                97
Count_more_than_12_months_late        97
application_underwriting_score      2974
no_of_premiums_paid                    0
sourcing_channel                       0
residence_area_type                    0
target                                 0
dtype: int64

In [9]:
train['application_underwriting_score'].fillna(train['application_underwriting_score'].mean(),inplace=True)

In [10]:
#converting sourcing_channel into numerical columns
sourcing_channel=pd.get_dummies(train['sourcing_channel'],prefix='Channel')
train=pd.concat([train,sourcing_channel],axis=1)
train.drop('sourcing_channel',axis=1,inplace=True)

In [11]:
#converting residence_area_type into numerical columns
residence_area_type=pd.get_dummies(train['residence_area_type'],prefix='area')
train=pd.concat([train,residence_area_type],axis=1)
train.drop('residence_area_type',axis=1,inplace=True)

In [12]:
test.isnull().sum()

id                                     0
perc_premium_paid_by_cash_credit       0
age_in_days                            0
Income                                 0
Count_3-6_months_late                 31
Count_6-12_months_late                31
Count_more_than_12_months_late        31
application_underwriting_score      1323
no_of_premiums_paid                    0
sourcing_channel                       0
residence_area_type                    0
dtype: int64

In [13]:
test['application_underwriting_score'].fillna(test['application_underwriting_score'].mean(),inplace=True)

In [14]:
#converting sourcing_channel into numerical columns
sourcing_channel=pd.get_dummies(test['sourcing_channel'],prefix='Channel')
test=pd.concat([test,sourcing_channel],axis=1)
test.drop('sourcing_channel',axis=1,inplace=True)

In [15]:
##converting residence_area_type into numerical columns
residence_area_type=pd.get_dummies(test['residence_area_type'],prefix='area')
test=pd.concat([test,residence_area_type],axis=1)
test.drop('residence_area_type',axis=1,inplace=True)

In [16]:
train.fillna(0,inplace=True)
test.fillna(0,inplace=True)

In [17]:
train.head()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,target,Channel_A,Channel_B,Channel_C,Channel_D,Channel_E,area_Rural,area_Urban
0,110936,0.429,12058,355060,0.0,0.0,0.0,99.02,13,1,0,0,1,0,0,0,1
1,41492,0.010,21546,315150,0.0,0.0,0.0,99.89,21,1,1,0,0,0,0,0,1
2,31300,0.917,17531,84140,2.0,3.0,1.0,98.69,7,0,0,0,1,0,0,1,0
3,19415,0.049,15341,250510,0.0,0.0,0.0,99.57,9,1,1,0,0,0,0,0,1
4,99379,0.052,31400,198680,0.0,0.0,0.0,99.87,12,1,0,1,0,0,0,0,1

In [18]:
test.head()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,Channel_A,Channel_B,Channel_C,Channel_D,Channel_E,area_Rural,area_Urban
0,649,0.001,27384,51150,0.0,0.0,0.0,99.890000,7,1,0,0,0,0,1,0
1,81136,0.124,23735,285140,0.0,0.0,0.0,98.930000,19,1,0,0,0,0,0,1
2,70762,1.000,17170,186030,0.0,0.0,0.0,99.061898,2,0,1,0,0,0,0,1
3,53935,0.198,16068,123540,0.0,0.0,0.0,99.000000,11,0,1,0,0,0,1,0
4,15476,0.041,10591,200020,1.0,0.0,0.0,99.170000,14,1,0,0,0,0,1,0

# Feature selection

In [19]:
feature_cols=['age_in_days','perc_premium_paid_by_cash_credit','Income','Count_3-6_months_late','Count_6-12_months_late', 'Count_more_than_12_months_late','no_of_premiums_paid','application_underwriting_score','Channel_A','Channel_B','Channel_C','Channel_D','area_Urban','area_Rural']
X=train[feature_cols]
y=train['target']

# Splitting Data

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [22]:
#importing decision tree classifier 
from sklearn.tree import DecisionTreeClassifier

In [23]:
clf = DecisionTreeClassifier()

In [24]:
clf.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [25]:
y_pred=clf.predict(X_test)

In [26]:
y_pred

array([1, 1, 0, ..., 1, 1, 1], dtype=int64)

In [27]:
from sklearn.metrics import accuracy_score

In [28]:
# Model Accuracy, how often is the classifier correct?
accuracy_score(y_test, y_pred)

0.89491083951112

In [29]:
test_cols=['age_in_days','perc_premium_paid_by_cash_credit','Income','Count_3-6_months_late','Count_6-12_months_late', 'Count_more_than_12_months_late','no_of_premiums_paid','application_underwriting_score','Channel_A','Channel_B','Channel_C','Channel_D','area_Urban','area_Rural']
test_updated =test[test_cols]

In [30]:
predicted = clf.predict(test_updated)

In [31]:
submission =pd.DataFrame(predicted)
submission.index = test['id']
submission.columns = ['target']

In [32]:
submission

       target
id
649         1
81136       1
70762       0
53935       1
15476       1
...       ...
81988       1
30326       1
65749       1
65686       0
93826       1

[34224 rows x 1 columns]

In [33]:
submission.to_csv('submission.csv', header=True, index=True)